


.dashboard-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;

    margin-top: 50px;
    margin-bottom: 50px;

}

.cookie-count {
    justify-content: center;
}

.cookie-count h1 {
    font-family: "Jersey 20";
    font-size: 72px;
}

#cookies-label {
    font-weight: 900;
    margin-bottom: -10px;
}

.title {
    font-family: "Press Start 2P";
    margin-left: 200px;
}

.title-achievements {
    font-size: 25px;
    font-family: "Press Start 2P";
}

.spinning-cookie {

    
    -webkit-animation:spin 30s linear infinite;
    -moz-animation:spin 30s linear infinite;
    animation:spin 30s linear infinite;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



    
    